[submodule "exe/luajit-rocks"]
	path = exe/luajit-rocks
	url = https://hub.fastgit.org/torch/luajit-rocks.git
[submodule "exe/qtlua"]
	path = exe/qtlua
	url = https://hub.fastgit.org/torch/qtlua.git
[submodule "pkg/dok"]
	path = pkg/dok
	url = https://hub.fastgit.org/torch/dok.git
[submodule "pkg/gnuplot"]
	path = pkg/gnuplot
	url = https://hub.fastgit.org/torch/gnuplot.git
[submodule "pkg/paths"]
	path = pkg/paths
	url = https://hub.fastgit.org/torch/paths.git
[submodule "pkg/cwrap"]
	path = pkg/cwrap
	url = https://hub.fastgit.org/torch/cwrap.git
[submodule "extra/cunn"]
	path = extra/cunn
	url = https://hub.fastgit.org/torch/cunn.git
[submodule "extra/cutorch"]
	path = extra/cutorch
	url = https://hub.fastgit.org/torch/cutorch.git
[submodule "pkg/torch"]
	path = pkg/torch
	url = https://hub.fastgit.org/torch/torch7.git
[submodule "pkg/sundown"]
	path = pkg/sundown
	url = https://hub.fastgit.org/torch/sundown-ffi.git
[submodule "pkg/qttorch"]
	path = pkg/qttorch
	url = https://hub.fastgit.org/torch/qttorch.git
[submodule "pkg/xlua"]
	path = pkg/xlua
	url = https://hub.fastgit.org/torch/xlua.git
[submodule "pkg/sys"]
	path = pkg/sys
	url = https://hub.fastgit.org/torch/sys.git
[submodule "pkg/image"]
	path = pkg/image
	url = https://hub.fastgit.org/torch/image.git
[submodule "pkg/optim"]
	path = pkg/optim
	url = https://hub.fastgit.org/torch/optim.git
[submodule "extra/threads"]
	path = extra/threads
	url = https://hub.fastgit.org/torch/threads-ffi.git
[submodule "extra/argcheck"]
	path = extra/argcheck
	url = https://hub.fastgit.org/torch/argcheck.git
[submodule "extra/cudnn"]
	path = extra/cudnn
	url = https://hub.fastgit.org/soumith/cudnn.torch.git
[submodule "exe/trepl"]
	path = exe/trepl
	url = https://hub.fastgit.org/torch/trepl.git
[submodule "extra/nnx"]
	path = extra/nnx
	url = https://hub.fastgit.org/clementfarabet/lua---nnx.git
[submodule "extra/nn"]
	path = extra/nn
	url = https://hub.fastgit.org/torch/nn.git
[submodule "exe/env"]
	path = exe/env
	url = https://hub.fastgit.org/torch/env.git
[submodule "extra/graph"]
	path = extra/graph
	url = https://hub.fastgit.org/torch/graph
[submodule "extra/nngraph"]
	path = extra/nngraph
	url = https://hub.fastgit.org/torch/nngraph
[submodule "extra/luaffifb"]
	path = extra/luaffifb
	url = https://hub.fastgit.org/facebook/luaffifb
[submodule "extra/luafilesystem"]
	path = extra/luafilesystem
	url = https://hub.fastgit.org/keplerproject/luafilesystem.git
[submodule "extra/penlight"]
	path = extra/penlight
	url = https://hub.fastgit.org/stevedonovan/Penlight.git
[submodule "extra/lua-cjson"]
	path = extra/lua-cjson
	url = https://hub.fastgit.org/mpx/lua-cjson
[submodule "extra/moses"]
	path = extra/moses
	url = https://hub.fastgit.org/Yonaba/Moses.git
